<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/company.css"/>
		<link rel="stylesheet" type="text/css" href="css/new_nav.css"/>
		<link rel="stylesheet" type="text/css" href="css/float.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/about/about.css"/>
	</head>
	<body>
		<div>
			<div class="nav">
				<div class="navs">
					<div class="nav_logo">
						<img src="img/nav/heilogo4.png">
					</div>
					<div class="nav_right">
						<ul>
							<li><a href="indexs.html" >首页</a></li>
							<li><a href="baojia.html">在线报价</a></li>
							<li><a href="project.html">业务项目</a></li>
							<li><a href="case.html">案例展示</a></li>
							<li style="border-bottom: 4px solid #edad0c;"><a href="about.html" style="color: #EDAD0C;">关于智合</a></li>
							<li><img src="img/nav/fangdajing.png"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="nav_imgs">
				<img src="./img/about/banner1_03.jpg" alt="">
			</div>
			<div class="floats">
				<ul>
					<li>
						<div><img src="img/images/floats/baojiadan.png" alt=""></div>
						在线报价
					</li>
					<li>
						<div><img src="img/images/floats/iconfontzhizuobiaozhun023110.png" alt=""></div>
						在线咨询
					</li>
					<li>
						<div><img src="img/images/floats/dianhua.png" alt=""></div>
						电话咨询
					</li>
				</ul>
				
			</div>
			<div class="abouts">
				<div class="alun">
					<ul>
						<li>
							<span>关于智合</span>
							<div>
								
							</div>
						</li>
						<li>
							<span>行业资讯</span>
						</li>
						<li><span>人才招聘</span></li>
						<li><span>联系我们</span></li>
					</ul>
					
					
				</div>
			</div>
			
			
			
			<div class="company">
				<div class="tops">
					<div class="one">
						<div>
							<img src="img/images/bottom/图层 12.png" alt="">
						</div>
						<div>
							<img src="img/images/bottom/组 101.png" alt="" style="margin-right: 8px;">
							<img src="img/images/bottom/组 10 拷贝1.png" alt="">
						</div>
					</div>
					<div class="two">
							<ul>
								<li>在线报价</li>
								<li>卡纸盒报价</li>
								<li>精品礼盒报价</li>
								<li>彩箱包装报价</li>
								<li>水印箱包装报价</li>
								<li>手提袋报价</li>
								<li>品牌设计报价</li>
							</ul>
					</div>
					<div class="two">
						<ul>
							<li>业务项目</li>
							<li>卡纸盒包装</li>
							<li>精品礼盒</li>
							<li>彩箱包装</li>
							<li>牛皮纸包装</li>
							<li>手提袋</li>
							<li>商务印刷品</li>
							<li>品牌设计</li>
						</ul>
					</div>
					<div class="two">
						<ul>
							<li>关于智盒</li>
							<li>公司介绍</li>
							<li>行业动态</li>
							<li>人事招聘</li>
							<li>联系我们</li>
						</ul>
					</div>
					<div class="five">
						<div>
							<img src="img/images/bottom/图层 13.jpg" alt="">					
						</div>
						<span>微信公众号</span>
					</div>
				</div>
				<div class="botm">
					<div class="botm_left">
						<span>Copyright©2020智合包装.</span>
						<span>ICP经营许可证：豫ICP备XXXXXX</span>
						<span>Copyright©2020智合包装.</span>
					</div>
					<div class="botm_right">
						网站地<span style="letter-spacing:16px;">图</span>法律声明
					</div>
				</div>
			</div>
		
		
		</div>
	</body>
</html>
