<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/nav.css"/>
		<link rel="stylesheet" type="text/css" href="css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href="css/brand.css"/>
		<link rel="stylesheet" type="text/css" href="css/pack.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/export.css">
		<link rel="stylesheet" type="text/css" href="css/dyna.css">
		<link rel="stylesheet" type="text/css" href="css/company.css"/>
		<link rel="stylesheet" type="text/css" href="css/float.css"/>
	</head>
	<body>
		<div id="">
			<div class="nav">
				<div class="navs">
					<div class="nav_logo">
						<img src="img/nav/12.png">
					</div>
					<div class="nav_right">
						<ul>
							<li><a href="indexs.html" style="color: #EDAD0C;">首页</a></li>
							<li><a href="baojia.html">在线报价</a></li>
							<li><a href="project.html">业务项目</a></li>
							<li><a href="case.html">案例展示</a></li>
							<li><a href="about.html">关于智合</a></li>
							<li><img src="img/nav/fangdajing.png"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="swiper">
				<div class="swis">
					<ul>
						<li ><img src="img/swiper/03.png" alt=""></li><!-- 
						<li ><img src="img/swiper/03.png" alt=""></li>
						<li ><img src="img/swiper/03.png" alt=""></li> -->
					</ul>
					<div class="swis_span">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
			<div class="brand">
				<div class="brands">
					<p>我们的品牌及服务项目</p>
						<ul>
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li><li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
							
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
							<li>
								<img src="img/brands/kabao.png" alt="" class="brands_img">
								<p>卡纸盒包装</p>
							</li>
						</ul>
				</div>
				
			</div>                 
			<div class="pack">
				<div class="packs">
					<p>位居中<sapn class="span_spacing">原</sapn> 
						整合物流资<sapn class="span_spacing">源</sapn> 货发全国<br/>
						无论你身在何<sapn class="span_spacing">处</sapn> <span class="yellow">我们都能</span>为您打包物流配送
					</p>
					<div class="color">
						Professional . Focus
					</div>
					<div class="brand_btm">
						<ul>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="export">
				<div class="export_top">
					<p>我们是品牌<span class="yellow">与形象塑造者</span>,</p>
					<p>创造独特且非凡的品牌体验。</p>
				</div>
				<div class="dyna_more">
					<ul>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
						<li>
							<img src="./img/export/OOVT8563.png" alt="">
							<div class="fudong"><p>YUANCAI</p> <span >彩箱</span></div>
						</li>
					</ul>
					<p class="cse"><span><a href="case.html">查看更多案例</a></span></p>
					
				</div>
				
			</div>
			<div class="dyna">
				<p>行业动态</p>
				<div class="dynas">
					<ul>
						<li>
							<div class="dyna_top">
								<img src="img/dyna/nay03.jpg" alt="">
							</div>
							<div class="dyna_botm">
								<p>品牌创意咨询远程深度协同办公，有智合在线
								</p>
								<span>
									引言：过往需要常态化当面交流、访谈、深度开会沟通的复合型品牌咨询项目，在遇...
								</span>
							</div>
						</li>
						<li>
							<div class="dyna_top">
								<img src="img/dyna/nay03.jpg" alt="">
							</div>
							<div class="dyna_botm">
								<p>品牌创意咨询远程深度协同办公，有智合在线
								</p>
								<span>
									引言：过往需要常态化当面交流、访谈、深度开会沟通的复合型品牌咨询项目，在遇...
								</span>
							</div>
						</li>
						<li>
							<div class="dyna_top">
								<img src="img/dyna/nay03.jpg" alt="">
							</div>
							<div class="dyna_botm">
								<p>品牌创意咨询远程深度协同办公，有智合在线
								</p>
								<span>
									引言：过往需要常态化当面交流、访谈、深度开会沟通的复合型品牌咨询项目，在遇...
								</span>
							</div>
						</li>
						<li>
							<div class="dyna_top">
								<img src="img/dyna/nay03.jpg" alt="">
							</div>
							<div class="dyna_botm">
								<p>品牌创意咨询远程深度协同办公，有智合在线
								</p>
								<span>
									引言：过往需要常态化当面交流、访谈、深度开会沟通的复合型品牌咨询项目，在遇...
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="company">
				<div class="tops">
					<div class="one">
						<div>
							<img src="img/images/bottom/图层 12.png" alt="">
						</div>
						<div>
							<img src="img/images/bottom/组 101.png" alt="" style="margin-right: 8px;">
							<img src="img/images/bottom/组 10 拷贝1.png" alt="">
						</div>
					</div>
					<div class="two">
							<ul>
								<li>在线报价</li>
								<li>卡纸盒报价</li>
								<li>精品礼盒报价</li>
								<li>彩箱包装报价</li>
								<li>水印箱包装报价</li>
								<li>手提袋报价</li>
								<li>品牌设计报价</li>
							</ul>
					</div>
					<div class="two">
						<ul>
							<li>业务项目</li>
							<li>卡纸盒包装</li>
							<li>精品礼盒</li>
							<li>彩箱包装</li>
							<li>牛皮纸包装</li>
							<li>手提袋</li>
							<li>商务印刷品</li>
							<li>品牌设计</li>
						</ul>
					</div>
					<div class="two">
						<ul>
							<li>关于智盒</li>
							<li>公司介绍</li>
							<li>行业动态</li>
							<li>人事招聘</li>
							<li>联系我们</li>
						</ul>
					</div>
					<div class="five">
						<div>
							<img src="img/images/bottom/图层 13.jpg" alt="">					
						</div>
						<span>微信公众号</span>
					</div>
				</div>
				<div class="botm">
					<div class="botm_left">
						<span>Copyright©2020智合包装.</span>
						<span>ICP经营许可证：豫ICP备XXXXXX</span>
						<span>Copyright©2020智合包装.</span>
					</div>
					<div class="botm_right">
						网站地<span style="letter-spacing:16px;">图</span>法律声明
					</div>
				</div>
			</div>
			<div class="floats">
				<ul>
					<li>
						<div><img src="img/images/floats/baojiadan.png" alt=""></div>
						在线报价
					</li>
					<li>
						<div><img src="img/images/floats/iconfontzhizuobiaozhun023110.png" alt=""></div>
						在线咨询
					</li>
					<li>
						<div><img src="img/images/floats/dianhua.png" alt=""></div>
						电话咨询
					</li>
				</ul>
				
			</div>
		
		</div>
	</body>
</html>
