<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/company.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" type="text/css" href="css/new_nav.css"/>
		<link rel="stylesheet" type="text/css" href="css/float.css"/>
		<link rel="stylesheet" type="text/css" href="css/project/pro_one.css"/>
		<link rel="stylesheet" type="text/css" href="css/project/pro_two.css"/>
		<link rel="stylesheet" type="text/css" href="css/pack.css"/>
	</head>
	<body>
		<div>
			<div class="nav">
				<div class="navs">
					<div class="nav_logo">
						<img src="img/nav/heilogo4.png">
					</div>
					<div class="nav_right">
						<ul>
							<li><a href="indexs.html" >首页</a></li>
							<li><a href="baojia.html">在线报价</a></li>
							<li style="border-bottom: 4px solid #edad0c;"><a href="project.html" style="color: #EDAD0C;">业务项目</a></li>
							<li><a href="case.html">案例展示</a></li>
							<li><a href="about.html">关于智合</a></li>
							<li><img src="img/nav/fangdajing.png"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="nav_imgs">
				<img src="./img/project/project_03.jpg" alt="">
			</div>
			<div class="floats">
				<ul>
					<li>
						<div><img src="img/images/floats/baojiadan.png" alt=""></div>
						在线报价
					</li>
					<li>
						<div><img src="img/images/floats/iconfontzhizuobiaozhun023110.png" alt=""></div>
						在线咨询
					</li>
					<li>
						<div><img src="img/images/floats/dianhua.png" alt=""></div>
						电话咨询
					</li>
				</ul>
				
			</div>
			<div class="pro_one">
				<div class="proone">
					<div class="pne_left">
						<p>卡纸盒包装</p>
						<div>
							卡盒包装适用于口罩盒、食品盒、蛋糕盒、化妆品盒、炸鸡盒、汉堡盒、西点盒、月饼盒、茶叶盒、海鲜盒、粽子盒、外卖盒、药品盒、农药盒、兽药盒、异型盒、抽纸盒、手提袋等各种卡纸盒！
						</div>
						<button type="button">质询了解</button>
					</div>
					<div class="pne_right">
						<div>
							<img src="./img/project/9ad8b7d7998f51c9fa57af5c2d518a9.png" alt="">
							<img src="./img/project/9ad8b7d7998f51c9fa57af5c2d518a9.png" alt="">
						</div>
						
					</div>
				</div>
				
			</div>
			<div class="pro_two">
				<div class="ptwo">
					
						<div>
							<p>精品礼盒</p>
							<span>书型盒、天地盖、抽屉盒、异形盒等高档包装</span>
							<img src="./img/project/201812281524114.png" alt="">
						</div>
						<div>
							<p>精品礼盒</p>
							<span>书型盒、天地盖、抽屉盒、异形盒等高档包装</span>
							<img src="./img/project/201812281524114.png" alt="">
						</div>
						<div>
							<p>精品礼盒</p>
							<span>书型盒、天地盖、抽屉盒、异形盒等高档包装</span>
							<img src="./img/project/201812281524114.png" alt="">
						</div>
					
				</div>
			</div>
			<div class="pro_three">
				<div class="pthree">
					<div>
						<img src="./img/project/mmexport1535013509317.png" alt="">
						<p>手提袋</p>
						<span>书型盒、天地盖、抽屉盒、异形盒等高档包装</span>
					</div>
					<div>
						<img src="./img/project/mmexport1535013509317.png" alt="">
						<p>手提袋</p>
						<span>书型盒、天地盖、抽屉盒、异形盒等高档包装</span>
					</div>
				</div>
			</div>
			<div class="pro_four">
				 <div><img src="./img/project/about18_03.jpg" alt=""></div>
			</div>
			
				<div class="packs">
					<div class="brand_btm">
						<ul>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
							<li>
								<div><img src="img/pack/014.png" alt=""></div>
								<p>专注同行</p>
								<span>最低1000元起做<br/>取长补短-小批量起</span>
							</li>
						</ul>
					</div>
				</div>
			
			
			
			
			
			<div class="company">
				<div class="tops">
					<div class="one">
						<div>
							<img src="img/images/bottom/图层 12.png" alt="">
						</div>
						<div>
							<img src="img/images/bottom/组 101.png" alt="" style="margin-right: 8px;">
							<img src="img/images/bottom/组 10 拷贝1.png" alt="">
						</div>
					</div>
					<div class="two">
							<ul>
								<li>在线报价</li>
								<li>卡纸盒报价</li>
								<li>精品礼盒报价</li>
								<li>彩箱包装报价</li>
								<li>水印箱包装报价</li>
								<li>手提袋报价</li>
								<li>品牌设计报价</li>
							</ul>
					</div>
					<div class="two">
						<ul>
							<li>业务项目</li>
							<li>卡纸盒包装</li>
							<li>精品礼盒</li>
							<li>彩箱包装</li>
							<li>牛皮纸包装</li>
							<li>手提袋</li>
							<li>商务印刷品</li>
							<li>品牌设计</li>
						</ul>
					</div>
					<div class="two">
						<ul>
							<li>关于智盒</li>
							<li>公司介绍</li>
							<li>行业动态</li>
							<li>人事招聘</li>
							<li>联系我们</li>
						</ul>
					</div>
					<div class="five">
						<div>
							<img src="img/images/bottom/图层 13.jpg" alt="">					
						</div>
						<span>微信公众号</span>
					</div>
				</div>
				<div class="botm">
					<div class="botm_left">
						<span>Copyright©2020智合包装.</span>
						<span>ICP经营许可证：豫ICP备XXXXXX</span>
						<span>Copyright©2020智合包装.</span>
					</div>
					<div class="botm_right">
						网站地<span style="letter-spacing:16px;">图</span>法律声明
					</div>
				</div>
			</div>
		
		
		</div>
	</body>
</html>
