<style>
    .focus:focus{
        border-color: #4397fd;
        box-shadow: none;
    }
</style>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('个人信息')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div>
                联系人员: <input style="border: 1px solid #ccc" class="focus" readonly type="text" value="{$row.contact|htmlentities}">
                联系电话: <input style="border: 1px solid #ccc" class="focus" readonly type="text" value="{$row.mobile|htmlentities}">
            </div>
           <div>
               身份证号: <input style="border: 1px solid #ccc" class="focus" readonly type="text" value="{$row.ident|htmlentities}">
               注册时间: <input style="border: 1px solid #ccc" class="focus" readonly type="text" value="{:datetime($row.create_time)}">
           </div>
           <div>
               用户头像  <img width="12%" src="{:$row.user.avatar ? $row.user.avatar : request()->domain().'/assets/img/avatar.png'}">
           </div>
        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('基本信息')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div>
                企业名称: <input style="border: 1px solid #ccc" class="focus" readonly name="row[company]" type="text" value="{$row.company|htmlentities}">
                信用代码: <input style="border: 1px solid #ccc" class="focus" readonly name="row[code]" type="text" value="{$row.code|htmlentities}">
            </div>
           <div>
               经营地址: <input style="border: 1px solid #ccc" class="focus" readonly name="row[address]" type="text" value="{$row.address}{$row.house}">
               企业logo  <img width="12%" src="{:$row.logo ? $row.logo : request()->domain().'/assets/img/avatar.png'}">
           </div>
        </div>
    </div>
</form>
