<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>{$config['1']}-后台登陆</title>
    <link rel="stylesheet" href="__STATICBACKEND__/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__STATICBACKEND__/login/one/css/base.css">
    <link rel="stylesheet" href="__STATICBACKEND__/login/one/css/style.css">
    <link rel="Shortcut Icon" href="/uploads/logo/{$config['21']}" />
</head>
<body>
    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <form id="search">
                    <div class="panel loginbox layui-form">
                        <div class="text-center margin-big padding-big-top">
                            <h1>{$config['1']}</h1>
                        </div>
                        <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                            <div class="form-group">
                                <div class="field field-icon-right">
                                  
                                    <input type="text" class="input input-big" name="admin_name" id="username" placeholder="登录账号" lay-verify="required"/>
                                    <span class="icon icon-user margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field field-icon-right">
                                    <input type="password" class="input input-big" name="admin_password" id="password"  placeholder="登录密码" lay-verify="required"/>
                                    <span class="icon icon-key margin-small"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="field">
                                    <input type="text" class="input input-big" name="yzm" placeholder="填写右侧的验证码" lay-verify="required"/>

                                    <img  src="{:url('backend/login/captcha')}" alt="验证码" title="点击换一张" onclick="this.src='{:url(\'login/captcha\')}?num='+Math.random()" id="verify-image" width="120" height="32" class="passcode" style="height:43px;cursor:pointer;">
                                </div>
                            </div>
                        </div>
                        <div style="padding:30px;">
                            <input type="hidden" name='pwdcount' value='5'>
                            <input type="button" id="button" class="button button-block bg-main text-big input-big" lay-submit lay-filter="LAY-user-login-submit" value="登录" >
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="__STATICBACKEND__/layuiadmin/layui/layui.js"></script>
    <script src="__STATICBACKEND__/other/main.js"></script> 
    <script type="text/javascript" src="__STATICBACKEND__/other/jquery.min.js"></script>
    <script>
      layui.config({
        base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
      }).extend({
        index: 'lib/index' //主入口模块
      }).use(['index', 'user'], function(){
        var $ = layui.$
        ,setter = layui.setter
        ,admin = layui.admin
        ,form = layui.form
        ,router = layui.router()
        ,search = router.search;
        
        //提交
        form.on('submit(LAY-user-login-submit)', function(obj){
          var url = "{:url('login/dologin')}";
          var data =$("#search").serializeArray();
          jqueryAjax('POST',url,data,success);
          return false;
        });
        function success(res){
          if( res.status == 1 ){
            layer.msg(res.msg,{offset: '30px',icon: 1,time:1000});
            window.location.href ="{:Url('index/index')}";
          }else{
            layer.msg(res.msg,{offset: '30px',icon: 2,time:1000});
          }
        }
        
      });
    </script>
</body>
</html>