{include file="public/header" /}
<script src="__STATICBACKEND__/distpicker/js/distpicker.js"></script>
<!--<script src="__STATICBACKEND__/distpicker/js/main.js"></script>-->
<style type="text/css">
  html{
    background-color:#fff;
  }
  #province,#city,#area{
    width:102px;
    height:38px;
    border: 1px solid #E6E6E6;
  }
</style>
<form class="layui-form"  style="margin-top:30px;width:90%;" id="addform" onkeydown="if(event.keyCode==13){return false;}">
    <div class="layui-form-item">
      <label class="layui-form-label">班级名称<span class="reqcolor">*</span></label>
      <div class="layui-input-block">
        <input type="text" name="name" readonly=""  class="layui-input" lay-verify="required" value="{$res['name']|default=''}" >
      </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班主任<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <select name="teacher_id" id="teacher_id" disabled="">
                <option value="">请选择班主任</option>
                {foreach $aulist as $k => $v}
                <option value="{$v.id}" {if !empty($res.teacher_id) && $res.teacher_id eq $v.id} selected {/if}>{$v.real_name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工种分类</label>
        <div class="layui-input-block">
            <div class="layui-input-inline">
                <select name="cate_id" id="cate_id" lay-filter="cate_id" disabled="">
                    <option value="">请选择工种分类</option>
                    {foreach $pro_cate_list as $k => $v}
                    <option value="{$v.id}" <?php if( !empty($res['cate_id']) && $res['cate_id'] == $v['id']) { ?> selected <?php }?>>{$v.name}</option>
                    {/foreach}
                </select>
            </div>
            <label class="layui-form-label">二级栏目</label>
            <div class="layui-input-inline">
                <select name="pid" id="pid" lay-filter="pid" disabled="">
                    <option value="0">请选择二级栏目</option>
                </select>
            </div>
            <label class="layui-form-label">工种选择</label>
            <div class="layui-input-inline">
                <select name="profession_id" id="profession_id" disabled="">
                    <option value="0">请选择工种</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">班级人数<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <input type="text" name="student_num" readonly="" class="layui-input" lay-verify="required" value="{$res['student_num']|default=''}" >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">培训地点<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            {if !empty($res['train_site'])}
            <input type="hidden" name="train_site" value="{$res.train_site}" disabled="">
            <input type="text" name="site_address" disabled="" class="layui-input" lay-verify="required" value="{$res.train_site == 1 ? (!empty($res.site_address) ? $res.site_address : '线上') : (!empty($res.site_address) ? $res.site_address : '')}" >
            {else}
            <input type="hidden" name="train_site" value="2">
            <input type="text" name="site_address"  class="layui-input" lay-verify="required" value="" >
            {/if}
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">培训结束后学员是否可考试<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <input type="radio" name="student_status" disabled="" value="1" title="可以" {if !empty($res.student_status) && $res.student_status  eq '1'} checked {/if}>
            <input type="radio" name="student_status" disabled="" value="2" title="否" {if !empty($res.student_status) && $res.student_status  eq '2' || empty($res.student_status)} checked {/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">培训时间</label>
        <div class="layui-input-inline">
            <input type="text"  name="train_action_time" disabled="" class="layui-input" id="train_action_time" placeholder="开始时间" value="{$res.train_action_time_text|default=''}">
        </div>
        <div class="layui-input-inline">
            <input type="text"  name="train_end_time" disabled="" class="layui-input" id="train_end_time" placeholder="结束时间" value="{$res.train_end_time_text|default=''}">
        </div>
    </div>
    <!--<div class="layui-form-item" style="text-align:center;">-->
    <!--  <div class="layui-input-block">-->
    <!--    <input  type="hidden" name='id' value="{$res['id']?$res['id']:''}" id='hidden-id'>-->
    <!--    <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
    <!--    <button class="layui-btn" lay-submit="" lay-filter="addaction">保 存</button>-->

    <!--  </div>-->
    <!--</div>-->
</form>
<script>
layui.config({
    base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
        ,laydate = layui.laydate
    ,form = layui.form;
//时间选择器
laydate.render({
    elem: '#train_action_time'
    ,type: 'date'
    ,format: 'yyyy-MM-dd' //可任意组合
});
//时间选择器
    laydate.render({
        elem: '#train_end_time'
        ,type: 'date'
        ,format: 'yyyy-MM-dd' //可任意组合
    });
    /* 监听提交 */
    form.on('submit(addaction)', function(data){
      var url = "{:url('Grade/add')}";
      var data =$("#addform").serializeArray();
      jqueryAjax('POST',url,data,successLayui);
      return false;
    });
    var cate_id = "{$res.cate_id|default=''}";
    var data_pid = "{$res.pid|default=''}";
    if (cate_id){
        getSelectData({cate_id:cate_id});
    }
    if (data_pid){
        getSelectSonData({cate_id:data_pid});
    }
    // 工种一级栏目
    form.on('select(cate_id)', function(data){
        let v = data.value;
        var pid;
        $.ajax({
            type:"POST",
            url:"{:url('Profession/selectData')}",
            data: {cate_id : data.value},
            dataType:"json",
            success:function(res){
                if (res.code == 1){
                    let list = res.data;
                    $("#pid").empty();
                    var t;
                    for (let i=0; i < list.length; i++){
                        if (i == 0){
                            pid = list[i]['id'];
                        }
                        if(data_pid){
                            pid = data_pid;
                            t += `<option `;
                            if (data_pid == list[i]['id']){
                                t += `selected=true `;
                            }
                            t += `value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }else{
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                    }
                    if (pid){
                        $.ajax({
                            type:"POST",
                            url:"{:url('Profession/selectSonData')}",
                            data: {cate_id : pid},
                            dataType:"json",
                            success:function(res){
                                if (res.code == 1){
                                    let list = res.data;
                                    $("#profession_id").empty();
                                    var t;
                                    let profession_id = "{$res.profession_id|default=''}";
                                    for (let i=0; i < list.length; i++){
                                        t += `<option `;
                                        if (profession_id == list[i]['id']){
                                            t += `selected=true `;
                                        }
                                        t += `value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                                    }
                                    $("#profession_id").append(t);
                                    // 添加完记得render下  否则不会刷新到页面中
                                    form.render('select');
                                }else{
                                    $("#profession_id").empty();
                                }
                            },
                            error:function(res){
                                $("#profession_id").empty();
                                return false;
                            }
                        });
                    }
                    $("#pid").append(t);
                    // 添加完记得render下  否则不会刷新到页面中
                    form.render('select');
                }else{
                    $("#pid").empty();
                }
            },
            error:function(res){
                $("#pid").empty();
                return false;
            }
        });

    });
    // 工种列表
    form.on('select(pid)', function(data){
        let v = data.value;
        $.ajax({
            type:"POST",
            url:"{:url('Profession/selectSonData')}",
            data: {cate_id : data.value},
            dataType:"json",
            success:function(res){
                if (res.code == 1){
                    let list = res.data;
                    $("#profession_id").empty();
                    var t;
                    let profession_id = "{$res.profession_id|default=''}";
                    for (let i=0; i < list.length; i++){
                        t += `<option `;
                        if (profession_id == list[i]['id']){
                            t += `selected=true `;
                        }
                        t += `value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                    }
                    $("#profession_id").append(t);
                    // 添加完记得render下  否则不会刷新到页面中
                    form.render('select');
                }else{
                    $("#profession_id").empty();
                }
            },
            error:function(res){
                $("#profession_id").empty();
                return false;
            }
        });
    });
    /**
     * 获取一级栏目及下级工种
     * @param data
     */
    function getSelectData(data) {
        var pid;
        $.ajax({
            type:"POST",
            url:"{:url('Profession/selectData')}",
            data: data,
            dataType:"json",
            success:function(res){
                if (res.code == 1){
                    let list = res.data;
                    $("#pid").empty();
                    var t;
                    for (let i=0; i < list.length; i++){
                        if (i == 0){
                            pid = list[i]['id'];
                        }
                        if(data_pid){
                            pid = data_pid;
                            t += `<option `;
                            if (data_pid == list[i]['id']){
                                t += `selected=true `;
                            }
                            t += `value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }else{
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                    }
                    if (pid){
                        $.ajax({
                            type:"POST",
                            url:"{:url('Profession/selectSonData')}",
                            data: {cate_id : pid},
                            dataType:"json",
                            success:function(res){
                                if (res.code == 1){
                                    let list = res.data;
                                    $("#profession_id").empty();
                                    var t;
                                    let profession_id = "{$res.profession_id|default=''}";
                                    for (let i=0; i < list.length; i++){
                                        t += `<option `;
                                        if (profession_id == list[i]['id']){
                                            t += `selected=true `;
                                        }
                                        t += `value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                                    }
                                    $("#profession_id").append(t);
                                    // 添加完记得render下  否则不会刷新到页面中
                                    form.render('select');
                                }else{
                                    $("#profession_id").empty();
                                }
                            },
                            error:function(res){
                                $("#profession_id").empty();
                                return false;
                            }
                        });
                    }
                    $("#pid").append(t);
                    // 添加完记得render下  否则不会刷新到页面中
                    form.render('select');
                }else{
                    $("#pid").empty();
                }
            },
            error:function(res){
                $("#pid").empty();
                return false;
            }
        });
    }

    /**
     * 获取下级工种
     * @param data
     */
    function getSelectSonData(data) {
        $.ajax({
            type:"POST",
            url:"{:url('Profession/selectSonData')}",
            data: data,
            dataType:"json",
            success:function(res){
                if (res.code == 1){
                    let list = res.data;
                    $("#profession_id").empty();
                    var t;
                    let profession_id = "{$res.profession_id|default=''}";
                    for (let i=0; i < list.length; i++){
                        t += `<option `;
                        if (profession_id == list[i]['id']){
                            t += `selected=true `;
                        }
                        t += `value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                    }
                    $("#profession_id").append(t);
                    // 添加完记得render下  否则不会刷新到页面中
                    form.render('select');
                }else{
                    $("#profession_id").empty();
                }
            },
            error:function(res){
                $("#profession_id").empty();
                return false;
            }
        });
    }
  });

</script>