{include file="public/header" /}
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="/" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="{:url('common/refresh')}" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="message" onclick="show_message()">
              <i class="layui-icon layui-icon-notice"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite>{$Think.session.ausess.admin_name}</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="{:url('Index/auinfo')}">个人中心</a></dd>
              <dd><a lay-href="{:url('Index/editpwd')}">修改密码</a></dd>
              <hr>
              <dd style="text-align: center;"><a href="javascript:void(0);" onclick="loginOut()">退出</a></dd>
            </dl>
          </li>

          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" ><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
         
        </ul>
      </div>

      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" style="background-color:#3bdbf1 !important">
            <span style="color: #0a001f;font-weight: bold">建安学校办公系统</span>
          </div>
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            {foreach $navlist as $vo}
            <li data-name="home" class="layui-nav-item ">
                <?php  if(isset($vo['son'])){  ?>
              <a href="javascript:;" lay-tips="主页" lay-direction="2">
                <i class="layui-icon {$vo.icon}"></i>
                <cite>{$vo.title}</cite>
              </a>

              {foreach $vo['son'] as $vson}
              <dl class="layui-nav-child">
                <dd data-name="console" >
                  <a lay-href="{:url($vson['name'])}">{$vson.title}</a>
                </dd>  
              </dl>
              {/foreach}
                <?php }else{?>
                <a lay-href="{:url($vo['name'])}" lay-direction="2">
                    <i class="layui-icon {$vo.icon}"></i>
                    <cite>{$vo.title}</cite>
                </a>
              <?php  } ?>
              
            {/foreach}
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>

      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="{:url('index/home')}" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script>
    function loginOut() {
        layer.confirm('确定退出帐户吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            var url="{:url('login/loginout')}";
            jqueryAjax('POST',url,{},successOut);
        }, function(){
            layer.closeAll();
            return false;
        })
    }
    function show_message() {
      layer.open({
        type:2,
        content:"{:url('index/notice')}",
        area:['600px','800px'],
      });
    }
  </script>
{include file="public/footer" /}



