.exchange{
    padding: 80px;
}
.exchange .content>div{
    width: 42%;
    background:rgba(245,245,245,1);
    height: 550px;
    padding: 40px;
}
.exchange .text{
    font-size:14px;
    font-weight:400;
    margin: 30px 0;
}
.exchange .left .input{
    background: #fff;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
}
.exchange .left input{
    border: none;
    outline: none;
    background: #fff;
    min-width: 300px;
}

.exchange .left .textarea{
    background: #fff;
    height: 30px;
    padding:  22px;
    margin-bottom: 20px;
}
.exchange .left textarea{
    border: none;
    outline: none;
}
.exchange .left .btn{
    height:50px;
    background:rgba(0,74,139,1);
    line-height: 50px;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
.exchange .right .btn1{
    height:50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    font-weight:bold;
    margin-bottom: 30px;
}
.exchange .right .btn2{
    height:50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    font-weight:bold;
    border:1px solid rgba(0,74,139,1);
    cursor: pointer;
}
.exchange .right .img{
    text-align: center;padding: 95px 0;
}
.qr{
   text-align: center;
   margin-bottom: 80px;
}
.qr img{
   width: 300px;
   height: 300px;
}
.qr h3{
font-size:22px;
margin: 30px 0;
}