.content .left .pic{
    position: relative;
}
.content .left .pic .floatImg{
    position: absolute;
    top: -18px;
    left: -18px;
}
.content .left .info{
    padding-top: 100px;
    padding-left: 40px;
}
.content .left .info li{
    width:86px;
    height:34px;
    border:1px solid rgba(34,110,177,1);
    text-align: center;
    line-height: 34px;
    border-radius: 20px;
    margin: 40px 20px 40px 0;
}
.content .left .info .text{
    width: 50%;
}
.content .right .info{
    padding-top: 100px;
    padding-right: 40px;
}
.content .right .info li{
    width:86px;
    height:34px;
    border:1px solid rgba(34,110,177,1);
    text-align: center;
    line-height: 34px;
    border-radius: 20px;
    margin: 40px 0 40px 20px;
}
.content .right .info h3{
    text-align: right;
}
.content .right .info ul{
    display: flex;justify-content: flex-end;
}
.content .right .info .danColor{
    float: right;width: 50%;
}
.content .right .pic{
    position: relative;
}
.content .right .pic .floatImg{
    position: absolute;
    top: -18px;
    right: -18px;
}