{include file="public/header" /}
<style type="text/css">
  .layui-btn+.layui-btn {
      margin-left: 0px;
  }
  .layui-card-header.layuiadmin-card-header-auto {
      padding-top: 12px;
      padding-bottom: 8px;
  }
  .layui-table-cell{
      height:40px;
      line-height: 40px;
  }
    .search_date{
        border: #e6e6e6 solid 1px;
        padding: 7px 10px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto" >
        <div class="layui-form-item search" >
          <div class="layui-input-inline" style="width:200px;">
              <input type="text" name="name" placeholder="班级名称" autocomplete="off" class="layui-input">
          </div>
            <div class="layui-input-inline" style="width:120px;">
                <select name="teacher_id" lay-search="" id="teacher_id">
                    <option value="">班主任</option>
                    <?php  if(isset($aulist)){  ?>
                    {foreach $aulist as $k=>$v}
                    <option value="{$v.id}">{$v.real_name}</option>
                    {/foreach}
                    <?php  } ?>
                </select>
            </div>
            <div class="layui-input-inline" style="width:100px;">
                <select name="auid" lay-search="" lay-filter="cate_id" id="cate_id">
                    <option value="">工种分类</option>
                    {foreach $pro_cate_list as $k => $v}
                    <option value="{$v.id}" >{$v.name}</option>
                    {/foreach}
                </select>
            </div>
            <div class="layui-input-inline" style="width:100px;">
                <select name="auid" lay-search="" lay-filter="pid" id="pid">
                    <option value="">二级栏目</option>
                </select>
            </div>
            <div class="layui-input-inline" style="width:100px;">
                <select name="auid" lay-search="" id="profession_id">
                    <option value="">工种选择</option>
                </select>
            </div>
          
          <div class="layui-inline">
            <button class="layui-btn  layui-btn-normal " data-type="reload">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="layui-card-body ">
        <div style="margin-bottom: 8px;" class="search">
<!--          <button class="layui-btn" href="javascript:;" data-type="down" style="background-color:#CD950C;"><i class="layui-icon">&#xe601;</i>导出</button>-->
<!--          <button class="layui-btn" data-type="add_data" style=""><i class="layui-icon">&#xe654;</i>添加线上班级</button>-->
        </div>
        <table id="layui-table" lay-filter="layui-table-tool"></table>
        <script type="text/html" id="barTpl">
            <a class="layui-btn layui-btn-xs" lay-event="consent">同意</a>
            <a class="layui-btn layui-btn-xs" lay-event="refuse">拒绝</a>
        </script>
        <script type="text/html" id="adminTpl">
          {{ d.admin.real_name }}
        </script>
        <script type="text/html" id="professionTpl">
              {{# if(typeof(d.profession) == 'undefined' || d.profession == '' || d.profession == null){ }}
              未选择工种
              {{# }else{ }}
              {{ d.profession_name_text??'无' }}
              {{# } }}
          </script>
        <script type="text/html" id="nameTpl">
            {{ d.teacher.real_name }}
        </script>
          <script type="text/html" id="mobileTpl">
              {{ d.teacher.mobile }}
          </script>
          <script type="text/html" id="studentNameTpl">
            {{ d.student.name }}
        </script>
          <script type="text/html" id="studentMobileTpl">
              {{ d.student.mobile }}
          </script>
          <script type="text/html" id="gradeNameTpl">
            {{ d.grade.name }}
        </script>
          <script type="text/html" id="gradeTypeTpl">
              {{ d.grade.train_site_text }}
          </script>
          <script type="text/html" id="dayTpl">
              {{ d.now_train_day }}/{{ d.train_day }}
          </script>
          <script type="text/html" id="studentTpl">
              {{ d.pay_student_num }}/{{ d.student_num }}
          </script>
      </div>
    </div>
  </div> 
  <script>
    layui.use(['table', 'form'], function(){
        var table = layui.table
        , form = layui.form;
        //第一个实例
        table.render({
            elem: '#layui-table'
            ,url: "{:Url('GradeCheck/getData')}" //数据接口
            // ,width: 892
            //,height: 500
            ,height: 'full-180' //高度最大化减去差值
            ,page: { 
              layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
              ,curr: 1 //设定初始在第 5 页
              ,groups: 5 //只显示 1 个连续页码
              ,first: false //不显示首页
              ,last: false //不显示尾页
            }
            ,limit:15
            ,limits:[5,12,15,30,45,60,75,90]
            ,cols: [[ //表头
                {type:'checkbox',fixed: 'left'},
                {field: 'id', title: '编号',width:60}
                ,{title: '班级名称', templet: '#gradeNameTpl'}
                ,{title: '班级类型', templet: '#gradeTypeTpl'}
                ,{title: '班主任', templet: '#nameTpl'}
                ,{title: '班主任电话', templet: '#mobileTpl',width:120}
                ,{title: '异常学员姓名', templet: '#studentNameTpl',width:120}
                ,{title: '异常学员电话', templet: '#studentMobileTpl',width:120}
                ,{title: '工种', templet: '#professionTpl',width:240}
                ,{field: 'status_text', title: '状态'}
                ,{field: 'anomalous_cause', title: '异常原因'}
                ,{title: '提交异常人员', templet: '#adminTpl'}
                ,{field: 'create_time', title: '创建时间',width:170}
                ,{title: '操作', templet: '#barTpl',width:150}
            ]]
            ,id: 'tablereload'
        });
        var $ = layui.$, active = {
          getCheckData: function(){ //获取选中数据
            var checkStatus = table.checkStatus('tablereload')
            ,data = checkStatus.data;
            var delList=[];
            data.forEach(function(n,i){
                  delList.push(n.id);
             });
            if(delList==''){
              layer.msg('未选择数据！',{icon: 2,time:2000});
              return false;
            };
            layer.confirm('确认要删除吗？删除就无法恢复',function(){
                var data1 = {did: delList};
                var url = "{:Url('Customer/delete')}";
                jqueryAjax('POST',url,data1,successReload); 
            });
          },
          reload: function(){
              //执行重载
              table.reload('tablereload', {
                  page: {
                      curr: 1 //重新从第 1 页开始
                  }
                  ,where: {
                      name: $('input[name="name"]').val(),
                      teacher_id: $("#teacher_id option:selected").val(),
                      status: $("#status option:selected").val(),
                      train_action_time: $("input[name='train_action_time']").val(),
                      train_end_time: $("input[name='train_end_time']").val(),
                      cate_id: $("#cate_id option:selected").val(),
                      pid: $("#pid option:selected").val(),
                      profession_id: $("#profession_id option:selected").val()

                  }
              });
          },
          add_data:function(){
              var url = "{:url('Grade/add',['train_site' => 1])}";
              x_admin_show('添加班级信息',url,1100,800);
          },
        };
        $('.search .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(layui-table-tool)', function(obj){
            iss = $(this);
            if(obj.event === 'refuse'){
                var id = obj.data.id
                var url = "{:Url('GradeCheck/refuse')}" + '?id=' + id;
                x_admin_show('拒绝异常审核',url,800,600);
            }else if(obj.event === 'consent'){
                layer.confirm('确认同意此条异常审核吗？',function(index){
                    var data = {id: obj.data.id};
                    var url = "{:Url('GradeCheck/consent')}";
                    jqueryAjax('POST',url,data,successReload);
                });
            }

        });
// 工种一级栏目
        form.on('select(cate_id)', function(data){
            let v = data.value;
            var pid;
            $.ajax({
                type:"POST",
                url:"{:url('Profession/selectData')}",
                data: {cate_id : data.value},
                dataType:"json",
                success:function(res){
                    if (res.code == 1){
                        let list = res.data;
                        $("#pid").empty();
                        var t;
                        for (let i=0; i < list.length; i++){
                            if (i == 0){
                                pid = list[i]['id'];
                            }
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                        if (pid){
                            $.ajax({
                                type:"POST",
                                url:"{:url('Profession/selectSonData')}",
                                data: {cate_id : pid},
                                dataType:"json",
                                success:function(res){
                                    if (res.code == 1){
                                        let list = res.data;
                                        $("#profession_id").empty();
                                        var t;
                                        for (let i=0; i < list.length; i++){
                                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                                        }
                                        $("#profession_id").append(t);
                                        // 添加完记得render下  否则不会刷新到页面中
                                        form.render('select');
                                    }else{
                                        $("#profession_id").empty();
                                    }
                                },
                                error:function(res){
                                    $("#profession_id").empty();
                                    return false;
                                }
                            });
                        }
                        $("#pid").append(t);
                        // 添加完记得render下  否则不会刷新到页面中
                        form.render('select');
                    }else{
                        $("#pid").empty();
                    }
                },
                error:function(res){
                    $("#pid").empty();
                    return false;
                }
            });

        });
        // 工种列表
        form.on('select(pid)', function(data){
            let v = data.value;
            $.ajax({
                type:"POST",
                url:"{:url('Profession/selectSonData')}",
                data: {cate_id : data.value},
                dataType:"json",
                success:function(res){
                    if (res.code == 1){
                        let list = res.data;
                        $("#profession_id").empty();
                        var t;
                        for (let i=0; i < list.length; i++){
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                        $("#profession_id").append(t);
                        // 添加完记得render下  否则不会刷新到页面中
                        form.render('select');
                    }else{
                        $("#profession_id").empty();
                    }
                },
                error:function(res){
                    $("#profession_id").empty();
                    return false;
                }
            });
        });
    });
  </script>
</body>
</html>

