{include file="public/header" /}
<style type="text/css">
  .layui-btn+.layui-btn {
      margin-left: 0px;
  }
  .layui-card-header.layuiadmin-card-header-auto {
      padding-top: 12px;
      padding-bottom: 8px;
  }
  .layui-table-cell{
      height:40px;
      line-height: 40px;
  }
    .search_date{
        border: #e6e6e6 solid 1px;
        padding: 7px 10px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body ">
        <div style="margin-bottom: 8px;" class="search">
            {if in_array('140',$rule_ids)}
          <button class="layui-btn" data-type="add_data" style=""><i class="layui-icon">&#xe654;</i>创建新需求</button>
            {/if}
        </div>
        <table id="layui-table" lay-filter="layui-table-tool"></table>
        <script type="text/html" id="barTpl">
            {if in_array('141',$rule_ids)}
          <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
          {/if}
          {if in_array('143',$rule_ids)}
          <a class="layui-btn layui-btn-xs" lay-event="recommend">推荐</a>
          {/if}
          {if in_array('144',$rule_ids)}
          <a class="layui-btn layui-btn-xs" lay-event="recommend_log">推荐记录</a>
          {/if}
          {if in_array('142',$rule_ids)}
          <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>
            {/if}
        </script>
          <script type="text/html" id="professionTpl">
              {{# if(typeof(d.profession) == 'undefined' || d.profession == '' || d.profession == null){ }}
              未选择工种
              {{# }else{ }}
              {{ d.profession_name_text??'无' }}
              {{# } }}
          </script>
      </div>
    </div>
  </div> 
  <script>
    layui.use(['table', 'form'], function(){
        var table = layui.table
        , form = layui.form;

        let grade_id = "{$id}";
        //第一个实例
        table.render({
            elem: '#layui-table'
            ,url: "{:Url('LabourCompany/getDemandData')}" //数据接口
            ,where: {
                company_id:grade_id
            }
            // ,width: 892
            //,height: 500
            ,height: 'full-180' //高度最大化减去差值
            ,page: { 
              layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
              ,curr: 1 //设定初始在第 5 页
              ,groups: 5 //只显示 1 个连续页码
              ,first: false //不显示首页
              ,last: false //不显示尾页
            }
            ,limit:15
            ,limits:[5,12,15,30,45,60,75,90]
            ,cols: [[ //表头
                // {type:'checkbox',fixed: 'left'},
                {field: 'id', title: '编号', sort: true,width:80}
                ,{title: '工种', templet: '#professionTpl',width:240}
                ,{field: 'contact_name', title: '联系人姓名',width:80}
                ,{field: 'contact_mobile', title: '联系人手机号',width:120}
                ,{field: 'people_num', title: '需求人数',width:100}
                ,{field: 'recommend_num', title: '推荐人数',width:100}
                ,{field: 'entry_num', title: '入职人数',width:100}
                ,{field: 'work_exp', title: '工作经验',width:100}
                ,{field: 'salary_expectation', title: '期望薪资',width:100}
                ,{field: 'remark', title: '备注'}
                ,{title: '操作', templet: '#barTpl',width:300}
            ]]
            ,id: 'tablereload'
        });
        var $ = layui.$, active = {
          reload: function(){
              var profession_id = $("#profession_id option:selected").val();
              var pid = $("#pid option:selected").val()
              if (pid != '' && pid !==undefined && pid != 'undefined'){
                  if (profession_id == '' || profession_id == undefined || profession_id == 'undefined'){
                      layer.msg('请选择工种');
                      return false;
                  }
              }
              //执行重载
              table.reload('tablereload', {
                  page: {
                      curr: 1 //重新从第 1 页开始
                  }
                  ,where: {
                      name: $('input[name="name"]').val(),
                      mobile: $('input[name="mobile"]').val(),
                      cate_id: $("#cate_id option:selected").val(),
                      pid: $("#pid option:selected").val(),
                      profession_id: $("#profession_id option:selected").val()
                  }
              });
          },
          add_data:function(){
              var url = "{:url('LabourCompany/add_demand')}?company_id="+grade_id;
              x_admin_show('创建新需求',url,1200,600);
          },
        };
        $('.search .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(layui-table-tool)', function(obj){
            iss = $(this);
            var id = obj.data.id;
            if(obj.event === 'recommend'){
                var url = "{:url('LabourCompany/recommend')}?id=" + id + "&company_id=" + grade_id;
                x_admin_show('推荐',url,1100,800);
            }else if(obj.event === 'recommend_log'){
                var url = "{:url('LabourCompany/recommend_log')}?id=" + id + "&company_id=" + grade_id;
                x_admin_show('推荐记录',url,1100,800);
            }else if(obj.event === 'edit'){
                var url = "{:url('LabourCompany/edit_demand')}?id=" + id;
                x_admin_show('编辑',url,1200,600);
            }else if(obj.event === 'delete'){
                var url = "{:url('LabourCompany/delete_demand')}?id=" + id;
                jqueryAjax('POST',url,{id,id},successReload)
            }

        });
// 工种一级栏目
        form.on('select(cate_id)', function(data){
            let v = data.value;
            var pid;
            $.ajax({
                type:"POST",
                url:"{:url('Profession/selectData')}",
                data: {cate_id : data.value},
                dataType:"json",
                success:function(res){
                    if (res.code == 1){
                        let list = res.data;
                        $("#pid").empty();
                        var t;
                        for (let i=0; i < list.length; i++){
                            if (i == 0){
                                pid = list[i]['id'];
                            }
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                        if (pid){
                            $.ajax({
                                type:"POST",
                                url:"{:url('Profession/selectSonData')}",
                                data: {cate_id : pid},
                                dataType:"json",
                                success:function(res){
                                    if (res.code == 1){
                                        let list = res.data;
                                        $("#profession_id").empty();
                                        var t;
                                        for (let i=0; i < list.length; i++){
                                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                                        }
                                        $("#profession_id").append(t);
                                        // 添加完记得render下  否则不会刷新到页面中
                                        form.render('select');
                                    }else{
                                        $("#profession_id").empty();
                                    }
                                },
                                error:function(res){
                                    $("#profession_id").empty();
                                    return false;
                                }
                            });
                        }
                        $("#pid").append(t);
                        // 添加完记得render下  否则不会刷新到页面中
                        form.render('select');
                    }else{
                        $("#pid").empty();
                    }
                },
                error:function(res){
                    $("#pid").empty();
                    return false;
                }
            });

        });
        // 工种列表
        form.on('select(pid)', function(data){
            let v = data.value;
            $.ajax({
                type:"POST",
                url:"{:url('Profession/selectSonData')}",
                data: {cate_id : data.value},
                dataType:"json",
                success:function(res){
                    if (res.code == 1){
                        let list = res.data;
                        $("#profession_id").empty();
                        var t;
                        for (let i=0; i < list.length; i++){
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                        $("#profession_id").append(t);
                        // 添加完记得render下  否则不会刷新到页面中
                        form.render('select');
                    }else{
                        $("#profession_id").empty();
                    }
                },
                error:function(res){
                    $("#profession_id").empty();
                    return false;
                }
            });
        });
    });
  </script>
</body>
</html>

