{include file="public/header" /}
<script src="__STATICBACKEND__/jscolor/jscolor.js"></script>
<style type="text/css">
  html{
    background-color:#fff;
  }
</style>
<form class="layui-form"  style="margin-top:30px;width:90%;" id="addform" onkeydown="if(event.keyCode==13){return false;}">
    <div class="layui-form-item">
        <label class="layui-form-label">回款金额</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="price">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="remark" name="remark"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支付凭证</label>
        <div class="layui-input-block layui-upload">
            <button type="button" class="layui-btn" id="pay_proof">上传图片</button>
            <div class="layui-upload-list">
                <img class="layui-upload-img" style="border:none;" id="preview" >
            </div>
            <input type="hidden" name="pay_proof">
        </div>
    </div>
    <div class="layui-form-item" style="text-align:center;">
      <div class="layui-input-block">
          <input type="hidden" name='company_id' value="{$id|default=''}" id='hidden-id'>
        <button class="layui-btn" lay-submit="" lay-filter="addaction">保 存</button>
      </div>
    </div>
</form>
<script>
layui.config({
    base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'upload'], function(){
    var $ = layui.$
    ,layer = layui.layer
    ,upload = layui.upload
    ,form = layui.form;
    //执行实例
    var uploadInst = upload.render({
        elem: '#pay_proof' //绑定元素
        , field: 'img'
        ,url: "{:url('upload/layuiImgUpload')}" //上传接口
        , before: function (obj) {
            //预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
                $('#preview').attr('src', result); //图片链接（base64）
            });
        }
        ,done: function(res){
            //如果上传失败
            if (res.code > 0) {
                return layer.msg('上传失败');
            } else {
                var path = res.data;
                $('input[name="pay_proof"]').attr('value', path);
            }
        }
        ,error: function(){
            //请求异常回调
            $('#preview').attr('src', '')
            layer.alert('主图大小不能超过300k，请重新选择!');
        }
    });
    /* 监听提交 */
    form.on('submit(addaction)', function(data){
      var url = "{:url('LabourCompany/returned')}";
      var data =$("#addform").serializeArray();
      jqueryAjax('POST',url,data,successLayui);
      return false;
    });
  });

</script>