{include file="public/header" /}
<style type="text/css">
  html{
    background-color:#fff;
  }
  #province,#city,#area{
    width:102px;
    height:38px;
    border: 1px solid #E6E6E6;
  }
  .layui-input-block{
      line-height: 36px;
  }
</style>
<form class="layui-form"  style="margin-top:30px;width:90%;" id="addform" onkeydown="if(event.keyCode==13){return false;}">
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">客户名称</label>
        <div class="layui-input-block">
            {$customer.name}
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">业务员</label>
        <div class="layui-input-block">
            {$customer.admin.real_name}
        </div>
    </div>
    {if $customer.follow_status eq '1'}
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">跟进记录</label>
        <div class="layui-input-block">
            <textarea name="contents" placeholder="请输入内容" class="layui-textarea" lay-verify="required"></textarea>
        </div>
    </div>
    {/if}
    <div class="layui-form-item">
      <label class="layui-form-label">设置下次跟进时间</label>
      <div class="layui-input-block">
        <input type="text"  name="warn_time"  class="layui-input" id="time1" placeholder="  请选择" value="">
      </div>
    </div>
    <div class="layui-form-item" style="text-align:center;">
      <div class="layui-input-block">
        <input  type="hidden" name='customer_id' value="{$customer.id|default=''}" id='hidden-id'>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        <button class="layui-btn" lay-submit="" lay-filter="addaction">保 存</button>
      </div>
    </div>
    {if !empty($customer.next_contact_time)}
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">下次跟进时间</label>
        <div class="layui-input-block">
            {$customer.next_contact_time}
        </div>
    </div>
    {/if}


    <div class="layui-form-item">
        <label class="layui-form-label">跟进记录</label>
        {foreach $customer_record as $k => $v}
        <div class="layui-input-block">
            {$v.create_time}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {$v.contents}
        </div>
        {/foreach}
    </div>

</form>
<script>
layui.config({
    base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,element = layui.element
    ,layer = layui.layer
    ,laydate = layui.laydate
    ,form = layui.form;
    //时间选择器
    laydate.render({
      elem: '#time1'
      ,type: 'datetime'
      ,min:minDate()
      ,format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
    });
    // 设置最小可选的日期
    function minDate(){
        var now = new Date();
        return now.getFullYear()+"-" + (now.getMonth()+1) + "-" + now.getDate();
     }
    /* 自定义验证规则 */
    form.verify({
     
    });
    /* 监听提交 */
    form.on('submit(addaction)', function(data){
      var url = "{:url('Customer/addRecord')}";
      var data =$("#addform").serializeArray();
      jqueryAjax('POST',url,data,successLayui);
      return false;
    });
  });

</script>