{include file="public/header" /}
<style type="text/css">
  .layui-btn+.layui-btn {
      margin-left: 0px;
  }
    .layui-table-cell{
        height: auto;
        overflow: auto;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-card-body ">
          <div style="margin-bottom: 8px;" class="search">
              <button id="hk" class="layui-btn" data-type="hk" style="">回款</button>
              <button id="tk" class="layui-btn" data-type="tk" style="">退款</button>
          </div>
        <table id="layui-table" lay-filter="layui-table-tool"></table>
        <script type="text/html" id="barTpl">
<!--            <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>-->
            <a class="layui-btn layui-btn-xs" lay-event="consent">审核</a>
            <a class="layui-btn layui-btn-xs" lay-event="refuse">拒绝</a>
        </script>
        <script type="text/html" id="adminTpl">
            {{# if(d.admin == null){ }}
            未查找到操作人
            {{# }else{ }}
            {{ d.admin.real_name }}
            {{# } }}

        </script>
          <script type="text/html" id="nameTpl">
          {{ d.labour.name }}
        </script>
          <script type="text/html" id="mobileTpl">
          {{ d.labour.mobile }}
        </script>
          <script type="text/html" id="cardTpl">
              {{ d.labour.id_card }}
          </script>
          <script type="text/html" id="companyTpl">
              {{ d.company.name }}
          </script>
          <script type="text/html" id="companyContactTpl">
              {{ d.company.contact_name }}
          </script>
          <script type="text/html" id="companyMobileTpl">
              {{ d.company.contact_mobile }}
          </script>
          <script type="text/html" id="statusTpl">
              {{# if(d.status == 0){ }}
                    待审核
              {{# }else if(d.status == 1){ }}
                    审核通过
              {{# }else{ }}
                    审核拒绝
              {{# } }}
          </script>
          <script type="text/html" id="imageTpl">
              <img src="{{ d.pay_proof }}" style="height: 80px">
          </script>
          <script type="text/html" id="barTpl1">
              <a class="layui-btn layui-btn-xs" lay-event="consent1">审核</a>
              <a class="layui-btn layui-btn-xs" lay-event="refuse1">拒绝</a>
          </script>
      </div>
    </div>
  </div> 
  <script>+
      $(".ware_company_name").show();
  $(".ware_cate_id").hide();
      layui.use(['table','form','element','jquery'], function(){
          var table = layui.table
              , element = layui.element
              , $ = layui.jquery
              , form = layui.form;
        var ware_id = "{$ware_id}";
          if (ware_id == 2){
              $(".ware_company_name").hide();
              $(".ware_cate_id").show();
              tableClick({ware_id:ware_id});
              $("#tk").css({"background-color":'#FF5722'});
              $("#hk").css({"background-color":''});
          }else {
              $(".ware_company_name").show();
              $(".ware_cate_id").hide();
              tableClick1({ware_id:ware_id});
              $("#hk").css({"background-color":'#FF5722'});
              $("#tk").css({"background-color":''});
          }

        // 退款
        function tableClick(where){
            table.render({
                elem: '#layui-table'
                ,url: "{:Url('Financing/getRefundData')}" //数据接口
                ,where:where
                // ,width: 892
                //,height: 500
                ,height: 'full-180' //高度最大化减去差值
                ,page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                    ,curr: 1 //设定初始在第 5 页
                    ,groups: 5 //只显示 1 个连续页码
                    ,first: false //不显示首页
                    ,last: false //不显示尾页
                }
                ,limit:15
                ,limits:[5,12,15,30,45,60,75,90]
                ,cols: [[ //表头
                    {field: 'id', title: '编号', sort: true,width:80}
                    ,{title: '退款人' , templet: '#nameTpl'}
                    ,{title: '电话号' , templet: '#mobileTpl'}
                    ,{title: '身份证号' , templet: '#cardTpl'}
                    ,{field: 'price', title: '退款金额'}
                    ,{field: 'remark', title: '备注'}
                    ,{title: '支付凭证', templet: '#imageTpl'}
                    ,{title: '操作人', templet: '#adminTpl'}
                    ,{title: '状态', templet: '#statusTpl'}
                    ,{field: 'create_time_text', title: '创建时间'}
                    ,{title: '操作', templet: '#barTpl',width:150}
                ]]
                ,id: 'tablereload'
            });
        }
        // 回款记录
        function tableClick1(where){
              table.render({
                  elem: '#layui-table'
                  ,url: "{:Url('Financing/getReturnedData')}" //数据接口
                  ,where:where
                  // ,width: 892
                  //,height: 500
                  ,height: 'full-180' //高度最大化减去差值
                  ,page: {
                      layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                      ,curr: 1 //设定初始在第 5 页
                      ,groups: 5 //只显示 1 个连续页码
                      ,first: false //不显示首页
                      ,last: false //不显示尾页
                  }
                  ,limit:15
                  ,limits:[5,12,15,30,45,60,75,90]
                  ,cols: [[ //表头
                      {field: 'id', title: '编号', sort: true,width:80}
                      ,{title: '公司名称' , templet: '#companyTpl'}
                      ,{title: '企业联系人' , templet: '#companyContactTpl'}
                      ,{title: '联系人电话' , templet: '#companyMobileTpl'}
                      ,{field: 'price', title: '回款金额'}
                      ,{field: 'remark', title: '备注'}
                      ,{title: '支付凭证', templet: '#imageTpl'}
                      ,{title: '操作人', templet: '#adminTpl'}
                      ,{title: '状态', templet: '#statusTpl'}
                      ,{field: 'create_time_text', title: '创建时间'}
                      ,{title: '操作', templet: '#barTpl1',width:150}
                  ]]
                  ,id: 'tablereload'
              });
          }

        var $ = layui.$, active = {
          getCheckData: function(){ //获取选中数据
            var checkStatus = table.checkStatus('tablereload')
            ,data = checkStatus.data;
            var delList=[];
            data.forEach(function(n,i){
                  delList.push(n.id);
             });
            if(delList==''){
              layer.msg('未选择数据！',{icon: 2,time:2000});
              return false;
            };
            layer.confirm('确认要删除吗？删除就无法恢复',function(){
                var data1 = {did: delList};
                var url = "{:Url('pay_student/delete')}";
                jqueryAjax('POST',url,data1,successReload); 
            });
          },
          reload: function(){
              //执行重载
              table.reload('tablereload', {
                  page: {
                      curr: 1 //重新从第 1 页开始
                  }
                  ,where: {
                      name: $('input[name="name"]').val(),
                      mobile: $('input[name="mobile"]').val(),
                      auid: $("#selectauid option:selected").val(),
                      company_name: $("#company_name option:selected").val(),
                      status: $("#status option:selected").val(),
                      pay_status: $("#pay_status option:selected").val(),
                      cate_id: $("#cate_id option:selected").val(),
                      pid: $("#pid option:selected").val(),
                      profession_id: $("#profession_id option:selected").val()
                  }
              });
          },
          down:function(){
              var ware_id = $('#ware').find('.layui-this').attr('lay-id');
              let param = "";
              param = "?ware_id=" + ware_id;
              if (ware_id == 1){
                  var company_name=$("#company_name option:selected").val();
                  var pay_status=$("#pay_status option:selected").val();
                  param += "&company_name="+company_name+"&pay_status="+pay_status;
              }else{
                  var cate_id=$("#cate_id option:selected").val();
                  var pid=$("#pid option:selected").val();
                  var profession_id=$("#profession_id option:selected").val();
                  var name=$('input[name="name"]').val();
                  var mobile=$('input[name="mobile"]').val();
                  var status=$("#status option:selected").val();
                  param += "&cate_id="+cate_id+"&pid="+pid+"&profession_id="+profession_id+"&name="+name+"&mobile="+mobile+"&status="+status;
              }
              var auid=$("#selectauid option:selected").val();
              var url = "{:url('Financing/down')}" + param + "&auid="+auid;
              location.href=url;
          },
            hk:function () {
                $(".ware_company_name").hide();
                $(".ware_cate_id").show();
                tableClick1({ware_id:1});
                $("#hk").css({"background-color":'#FF5722'});
                $("#tk").css({"background-color":''});
            },
            tk:function () {
                $(".ware_company_name").hide();
                $(".ware_cate_id").show();
                tableClick({ware_id:2});
                $("#tk").css({"background-color":'#FF5722'});
                $("#hk").css({"background-color":''});
            },
        };
        $('.search .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //监听工具条
        table.on('tool(layui-table-tool)', function(obj){
            iss = $(this);
            if(obj.event === 'delete'){
                layer.confirm('确认要删除吗？删除就无法恢复了！',function(index){
                    var data = {id: obj.data.id};
                    var url = "{:Url('PayStudent/delete')}";
                    jqueryAjax('POST',url,data,successReload);
                });
            }else if(obj.event === 'detail'){
                var id = obj.data.id;
                var ware_id = $('#ware').find('.layui-this').attr('lay-id');
                var url = "{:Url('Financing/detail')}" + '?id=' + id + "&refund=statistics_index&ware_id=" + ware_id;
                location.href=url;
            }else if(obj.event === 'consent'){
                layer.confirm('请确定同意此条退款审核',function(index){
                    var url = "{:Url('Financing/refund_consent')}";
                    var data = {id:obj.data.id};
                    jqueryAjax('POST',url,data,successReload);
                });
            }else if(obj.event === 'refuse'){
                layer.confirm('请确定拒绝此条退款审核',function(index){
                    var url = "{:Url('Financing/refund_refuse')}";
                    var data = {id:obj.data.id};
                    jqueryAjax('POST',url,data,successReload);
                });
            }else if(obj.event === 'consent1'){
                layer.confirm('请确定同意此条回款审核',function(index){
                    var url = "{:Url('Financing/return_consent')}";
                    var data = {id:obj.data.id};
                    jqueryAjax('POST',url,data,successReload);
                });
            }else if(obj.event === 'refuse1'){
                layer.confirm('请确定拒绝此条回款审核',function(index){
                    var url = "{:Url('Financing/return_refuse')}";
                    var data = {id:obj.data.id};
                    jqueryAjax('POST',url,data,successReload);
                });
            }

        });
        // 工种一级栏目
        form.on('select(cate_id)', function(data){
            let v = data.value;
            var pid;
            $.ajax({
                type:"POST",
                url:"{:url('Profession/selectData')}",
                data: {cate_id : data.value},
                dataType:"json",
                success:function(res){
                    if (res.code == 1){
                        let list = res.data;
                        $("#pid").empty();
                        $("#profession_id").empty();
                        var t;
                        for (let i=0; i < list.length; i++){
                            if (i == 0){
                                pid = list[i]['id'];
                            }
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                        if (pid){
                            $.ajax({
                                type:"POST",
                                url:"{:url('Profession/selectSonData')}",
                                data: {cate_id : pid},
                                dataType:"json",
                                success:function(res){
                                    if (res.code == 1){
                                        let list = res.data;
                                        $("#profession_id").empty();
                                        var t;
                                        for (let i=0; i < list.length; i++){
                                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                                        }
                                        $("#profession_id").append(t);
                                        // 添加完记得render下  否则不会刷新到页面中
                                        form.render('select');
                                    }else{
                                        $("#profession_id").empty();
                                    }
                                },
                                error:function(res){
                                    $("#profession_id").empty();
                                    return false;
                                }
                            });
                        }
                        $("#pid").append(t);
                        // 添加完记得render下  否则不会刷新到页面中
                        form.render('select');
                    }else{
                        $("#pid").empty();
                    }
                },
                error:function(res){
                    $("#pid").empty();
                    return false;
                }
            });

        });
        // 工种列表
        form.on('select(pid)', function(data){
            let v = data.value;
            $.ajax({
                type:"POST",
                url:"{:url('Profession/selectSonData')}",
                data: {cate_id : data.value},
                dataType:"json",
                success:function(res){
                    if (res.code == 1){
                        let list = res.data;
                        $("#profession_id").empty();
                        var t;
                        for (let i=0; i < list.length; i++){
                            t += `<option value="`+list[i]['id']+`">`+list[i]['name']+`</option>`;
                        }
                        $("#profession_id").append(t);
                        // 添加完记得render下  否则不会刷新到页面中
                        form.render('select');
                    }else{
                        $("#profession_id").empty();
                    }
                },
                error:function(res){
                    $("#profession_id").empty();
                    return false;
                }
            });
        });
    });
  </script>
</body>
</html>

