{include file="public/header" /}
<style type="text/css">
    html {
        background-color: #fff;
    }

    .layui-tab-brief {
        margin: 30px 50px;
    }

    .layui-timeline {
        margin-top: 30PX;;
    }

    .center-margin-top {
        margin-top: 30px;
        text-align: center;
    }

    .padding-bottom_60 {
        padding-bottom: 60px;
    }
</style>

<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">客户详情</li>
    </ul>
    <div class="layui-tab-content " style="height: 100px;">
        <div class="layui-tab-item layui-show">
            <form class="layui-form" style="margin-top:20px;">
                <div class="layui-form-item">
                    <label class="layui-form-label">客户称呼<span class="reqcolor"></span></label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled lay-verify="required" name="name" type="text" value="{$data['ress']['customer']['name']?$data['ress']['customer']['name']:''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="mobile" type="text" value="{$data['ress']['customer']['mobile']?$data['ress']['customer']['mobile']:''}">
                    </div>
                </div>
                {if !empty($data.ress.id_card)}
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号</label>
                    <div class="layui-input-block">
                        <input class="layui-input" data-rule="IDcard" disabled name="mobile" type="text" value="{$data['ress']['customer']['id_card']?$data['ress']['customer']['id_card']:''}">
                    </div>
                </div>
                {/if}
                <div class="layui-form-item">
                    <label class="layui-form-label">客户分类<span style="color:red;"></span></label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled id="time1" type="text" value="{$data['ress']['customer']->from_text|default=''}">
                    </div>
                </div>
                {if !empty($data.ress.batch_number)}
                <div class="layui-form-item">
                    <label class="layui-form-label">客户单位名称</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="mobile" type="text" value="{$data['ress']['customer']['company']?$data['ress']['customer']['company']:''}">
                    </div>
                </div>
                {/if}
                {if empty($data.ress.batch_number)}
                <div class="layui-form-item">
                    <label class="layui-form-label">工种</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="mobile" type="text" value="{$data['ress']['price_relation']['profession_top']['name']|default=''} - - {$data['ress']['price_relation']['profession']['name']|default=''}">
                    </div>
                </div>
                {/if}
                <div class="layui-form-item">
                    <label class="layui-form-label">课程总金额</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="total_price" type="text" value="{$data['ress']['price_relation']['total_price']?$data['ress']['price_relation']['total_price']:''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">缴费金额</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="pay_price" type="text" value="{$data['ress']['pay_price']?$data['ress']['pay_price']:''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">付费方式</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="pay_way_text" type="text" value="{$data['ress']['pay_way_text']?$data['ress']['pay_way_text']:''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">付费渠道</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="pay_site_text" type="text" value="{$data['ress']['pay_site_text']?$data['ress']['pay_site_text']:''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付方式</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="proceeds_type_text" type="text" value="{$data['ress']['proceeds_type_text']?$data['ress']['proceeds_type_text']:''}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">支付时间</label>
                    <div class="layui-input-block">
<!--                        <input class="layui-input" disabled name="pay_time" type="text" value="{$data['ress']['pay_time_text']?$data['ress']['pay_time_text']:''}">-->
                        <input class="layui-input" disabled name="pay_time" type="text" value="{$data['ress']['pay_time']}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注说明</label>
                    <div class="layui-input-block">
                        <textarea disabled class="layui-textarea">{$data['ress']['remark']?$data['ress']['remark']:''}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">缴费凭证</label>
                    <div class="layui-input-block">
                        {if !empty($data.ress.pay_proof)}
                        <img class="enlargeImg" src="{$data.ress.pay_proof}" alt="">
                        {/if}
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-block">
                        <input class="layui-input" disabled name="pay_time" type="text" value="{$data['ress']['create_time_text']?$data['ress']['create_time_text']:''}">
                    </div>
                </div>
                {if $data.ress.status eq 0}
                <div class="layui-form-item" style="text-align:center;">
                    <div class="layui-input-block">
                        <button class="tongyi layui-btn" type="button">同意</button>
                        <button class="jujue layui-btn layui-btn-danger" type="button">拒绝</button>
                    </div>
                </div>
                {/if}
            </form>
        </div>
        <div style="height: 50px;width: 100%;overflow: hidden"></div>
    </div>

</div>
<div class="bg">
    <img class="bgImg" style="max-width: 100%; max-height: 100%; position: fixed;" src="">
</div>
<style>
    .layui-table-cell {
        height: auto;

        line-height: 28px;

    }
    .enlargeImg{
        width: 20%;
    }
    .fillbg { background-color: rgba(0, 0, 0, 0.6); bottom: 0; height: 100%; left: 0; opacity: 0; position: fixed; right: 0; top: 0; width: 100%; z-index: 1100; display:none; }
    .fillbg-active { opacity: 1; display:block; }
</style>
<script>
    layui.use(['table', 'form'], function() {
        var table = layui.table
            , form = layui.form;
        $('.image_max img').on('click', function () {
            layer.photos({
                photos: ".image_max",
                shadeClose: false,
                closeBtn: 2,
                anim: 0
            });
        })
        $('.image_max1 img').on('click', function () {
            layer.photos({
                photos: ".image_max1",
                shadeClose: false,
                closeBtn: 2,
                anim: 0
            });
        })
    })
    var newImg;
    var clientH=$(window).height();
    var clientW=$(window).width();
    var w = '250';
    var h = '250';
    $(document).ready(function(){
        $(document).on('click','.enlargeImg',function () {
            newImg = $(this)[0].src;
            $("body").append('<div class="fillbg"></div>');
            $(".fillbg").addClass("fillbg-active");
            $('.bg').css({'position':"fixed","top":"5%",'display':"flex",'justify-content':'center','width':"100%",'z-index':1101});
            $('.bgImg').css({'height': '90%','z-index':1101});
            $('.bgImg').attr("src",newImg);
        });
        $(document).on('click','.bgImg',function () {
            $(".fill-input").removeClass("fill-input-active");
            setTimeout(function(){
                $(".fillbg-active").removeClass("fillbg-active");
                $(".fillbg").remove();
            },300);
            $('.bgImg').css({'width': '0px','height': '0px'});
            $('.bgImg').attr("src",'');
        });
        // $(".enlargeImg").bind("click", function(){
        //     newImg = $(this)[0].src;
        //     $("body").append('<div class="fillbg"></div>');
        //     $(".fillbg").addClass("fillbg-active");
        //     $('.bgImg').css({'width': w+"px",'height': h+"px",'top':(clientH-h)/2+"px",'left':(clientW-w)/2+"px",'z-index':1101});
        //     $('.bgImg').attr("src",newImg);
        // });

        // $(".bgImg").bind("click", function(){
        //     $(".fill-input").removeClass("fill-input-active");
        //     setTimeout(function(){
        //         $(".fillbg-active").removeClass("fillbg-active");
        //         $(".fillbg").remove();
        //     },300);
        //     $('.bgImg').css({'width': '0px','height': '0px'});
        //     $('.bgImg').attr("src",'');
        // });
    });
    var id = "{$data['ress']['id']}";
    $(".tongyi").click(function () {
        layer.confirm('确认用户信息无误，通过审核？',function(index){
            var data = {id: id};
            var url = "{:Url('Financing/qiye_tongyi')}";
            jqueryAjax('POST',url,data,successReload);
        });
    });
    $(".jujue").click(function () {
        var url = "{:Url('Financing/qiye_jujue')}" + '?id=' + id;
        x_admin_show('拒绝原因',url,600,400);
    });
</script>

{include file="public/footer" /}

