{include file="public/header" /}
<style type="text/css">
  html{
    background-color:#fff;
  }
  .input_img_inline{
    float: none !important;
    width: 100px !important;
  }
  .layui-upload-list{
      display: inline-block;
  }
  .icon_view, .layui-upload-img {
      width: 80px;
      height: 80px;
  }
    .ware_id_2{
        display: none;
    }
  </style>
<form class="layui-form"  style="margin-top:30px;width:80%;" id="addform" onkeydown="if(event.keyCode==13){return false;}">
     <div class="layui-form-item">
        <label class="layui-form-label">标题<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
          <input type="text" name="title" lay-verify="required" placeholder="" class="layui-input" value="{$data['title']?$data['title']:''}">
        </div>
     </div>
    <div class="layui-form-item">
        <label class="layui-form-label">通知人员<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <input type="radio" {if empty($data.department_id) } checked {/if} name="ware_id" title="全部人员" value="1" lay-filter="ware_id">
            <input type="radio" {if !empty($data.department_id) } checked {/if} name="ware_id" title="部门" value="2" lay-filter="ware_id">
        </div>
    </div>
    <div class="layui-form-item ware_id_2">
        <label class="layui-form-label">通知部门</label>
        <div class="layui-input-block">
            <select id="department_id" name="department_id" disabled>
                {foreach $department as $k => $v}
                <option value="{$v.id}" {if !empty($data.department_id) && $data.department_id eq $v.id} selected {/if}>{$v.name}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">内容<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <textarea  name="content"  id="content" lay-verify="required" class="layui-textarea">{$data['content']?$data['content']:''}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">开始时间<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="action_time" name="action_time" value="{$data.action_time_text|default=''}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">结束时间<span class="reqcolor">*</span></label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="end_time" name="end_time" value="{$data.end_time_text|default=''}">
        </div>
    </div>
    <div id="question_limit" class="layui-form-item" style="text-align:center;">
      <div class="layui-input-block">
        <input  type="hidden" name='id' value="{$data['id']?$data['id']:''}" id='hidden-id'>
        <button id="save" class="layui-btn" lay-submit="" lay-filter="addaction">保 存</button>

      </div>
    </div>
</form>
<script>
layui.config({
    base: '__STATICBACKEND__/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'laydate', 'upload'], function(){
    var $ = layui.$
    ,lay_date = layui.laydate
    ,form = layui.form;

    lay_date.render({
        elem: '#action_time' //指定元素
    });
    lay_date.render({
        elem: '#end_time' //指定元素
    });

    {if !empty($data.department_id) }
    $("#department_id").removeAttr("disabled");
    form.render('select');
    $('.ware_id_2').show();
    {/if}
    form.on('radio(ware_id)', function(data){
        let ware_id = data.value;
        if (ware_id == 1){
            $("#department_id").attr('disabled','true');
            form.render('select');
            $('.ware_id_2').hide();
        }else{
            $("#department_id").removeAttr("disabled");
            form.render('select');
            $('.ware_id_2').show();
        }
    });
    /* 监听提交 */
    form.on('submit(addaction)', function(data){
        $('#save').attr('disabled','true');
      var url = "{$url}";
      var data =$("#addform").serializeArray();
      jqueryAjax('POST',url,data,successLayui);
      return false;
    });
  });
</script>